.footer {
    margin-top: 100px;
    padding: 20px;
    background-color: black;
}
.footerLastSection {
    border-top: 2px solid grey;
}
.basis , .infos{
    font-size: 15px;
    margin-right: 20px;
}
.basis {
    text-decoration: underline;
}
.socials {
    text-align: right;
}
.socialIcons {
    margin: 5px;
    font-size: 30px;
}
.basis:hover,.socialIcons:hover{
    color: white;
}