body {
    background-color: #0F1011;
    color:white;
}
body::-webkit-scrollbar {
    display: none;
}
#back {
    width: 30px;
}
.gameTitle { 
    vertical-align: middle;
    display: inline-block;
    font-weight: bolder;
    font-size: 3.3rem;
}
a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
span {
    vertical-align: -2px;
}
a:hover {
    color: #7A1FFF;
}
.caourel-item {
    border-radius: 20px;
    height: 480px;
}
.carousel-indicators .active {
    background-color: #7A1FFF;
    border-radius: 20px ;
    color: white;
}
.aboutGame {
    background-color: #1A1A1A;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 286px;
    overflow-y: scroll;
}
.aboutGame::-webkit-scrollbar {
    display: none;
}
.moreInfo {
    background-color: #262626;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.showHideInfo {
    text-align: right;
}
#showHide {
    font-size: 1rem;
}
.cartInfo {
    background-color: #1A1A1A;
    border-radius: 20px;
}
h4 {
    display: inline-block;
    margin: 0 5px;
}
#about {
    display: none;
}
#addToCart,.addedItem {
    margin-left: 100px;
    font-size: 20px;
}
.addedItem {
    color: lightgreen;
    display: inline-block;
}
.wishLishbtn {
    color:#7A1FFF;
}